@use "./base/base";
@use "./abstract/main-variables" as v;
@use "./components/header";
@use "./components/aside-g";
@use "./components/m-blue";
@use "./components/aside-p";
@use './media-queries/tablet';
@use './media-queries/mobile';
@use './animations/animate.scss';

main {
    min-height: v.$m-height-min;
    display: flex;
    flex-wrap: wrap;
}

header, .aside-p , .aside-g , .m-blue{
    animation: animate 2.2s ease-in 1 reverse, animate2 0.4s linear infinite alternate;
    border: 1vmax solid rgba(123, 0, 255, 0.01);
    border-radius: 1vmax;
}
.m-blue{
    animation: animate2 0.4s linear infinite alternate-reverse;
}
.aside-g{
    animation: animate 2.2s ease-in 1 reverse, animate2 0.4s linear infinite 1s alternate-reverse;
}