@use '../abstract/variables' as v;

.aside-p{
    background-color: v.$ap-bg-color;
    min-height: v.$ap-height-min;
    min-width: v.$ap-min-width;
    margin: 1vw;
    margin-left: 0;
 background-image: linear-gradient(0deg, #9000ff, rgb(255, 0, 106));   background-size: 100% 1100%;
}
