@use '../abstract/variables' as v;

header{
    background-color: v.$h-bg-color;
    min-height: v.$h-height;
    width: v.$h-width;
    margin: 1vw;
    margin-bottom: 0vw;
    background-image: linear-gradient(0deg,#ff0000,#ffe600);
    background-size: 100% 1100%;
}