$h-bg-color: rgb(255, 0, 0);
$h-height: calc(30vh - 2vw);
$h-width: calc(100% - 2vw);

$ag-bg-color: rgb(0, 255, 0);
$ag-height-min: calc(70vh - 1vw);
$ag-min-width:caLc(25% - 1vw);

$mb-bg-color: rgb(0,0,255);
$mb-height: calc(100vh - 1vw);
$mb-min-width:calc(50% - 2vw);

$ap-bg-color: rgb(255, 0, 255);
$ap-height-min: calc(15vh - 1vw);
$ap-min-width: calc(25% - 1vw);