$h-bg-color: rgb(255, 0, 0);
$h-height: 20vh;
$h-width: 100%;

$ag-bg-color: rgb(0, 255, 0);
$ag-height-min:70vh;
$ag-min-width:25%;

$mb-bg-color: rgb(0,0,255);
$mb-height: 100vh;
$mb-min-width:50%;

$ap-bg-color: rgb(255, 0, 255);
$ap-height-min: 15vh;
$ap-height-max: 80vh;
$ap-min-width: 50%;